@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --buttonColor: #1D1A18;
    --fontFamily: "Montserrat", sans-serif;
    --mainColor: #1D1A18;
    --mainColor2: #f4f4f4;
    --optionalColor: #666666;
    --blackColor: #221638;
    --fontSize: 16px;
    --transition: 0.5s;
}

.container {
    background-image: url(../images/computers.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(20, 18, 18, 0.562);
    background-blend-mode: soft-light;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    }

  
  .navbar {
    color: white;
    background-color: transparent;
    display: flex;
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .sign-in{
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
    border: 2px solid white;
    font-size: 1.2rem;
  }
  .logo {
      width: 4rem;
      height: 4rem;
      border: 2px solid white;
  }

  .sign-in:hover {
    color: black;
    background-color: white;
}

/*================================================
LANDING PAGE CSS
=================================================*/

.landing-info { 
    height: 80vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    z-index: 20;
    /* border: 2px solid red; */
}

.landing-info h2 {
    font-size: 3rem;
    color: white;
    width: 80%;
    margin: 1rem auto;
    line-height: 1.4;
    
}

.landing-info input,
.landing-info button {
    margin: 0.4rem auto;
}

.landing-info input {
    width: 50%;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0;
    outline: none;
}

.landing-info button {
    width: 10rem;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    padding: 0.8rem;
    color: white;
    /* background-color: #794411; */
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

.Typewriter__wrapper {
    /* color: #794411; */
    color: red;
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .sign-in{
        font-size: 1rem;
    } 

    .landing-info input  {
        width: 50%;
    }
    .landing-info h2{
        font-size: 2.5rem;
        width: 65%;
    }
}

@media (max-width: 767.98px) {
    .landing-info {
        padding: 2rem;
    }
    .landing-info h2{
        width: 100%;
    }
    .landing-info input  {
        width: 80%;
    }
}

@media (max-width: 575.98px) {
    .landing-info h2{
        font-size: 2rem;
    }

    .landing-info input{
        width: 80%;
    }

    .landing-info button  {
        width: 9rem;
    }
}
@media (max-width: 375.98px) {
    .landing-info h2{
        font-size: 1.5rem;
    }
}
