@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


:root {
    --buttonColor: #1D1A18;
    --fontFamily: "Montserrat", sans-serif;
    --mainColor: #1D1A18;
    --mainColor2: #f4f4f4;
    --optionalColor: #666666;
    --blackColor: #221638;
    --fontSize: 16px;
    --transition: 0.5s;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    margin: 0;
}

body {
    overflow-x: hidden;
    max-width: 100%;
}

.container {
    background-image: url('/computers.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-color: rgba(20, 18, 18, 0.562);
    background-blend-mode: soft-light;
    /* height: 100vh; */
    max-height: 100%;
    width: 100vw;
    opacity: 1;
    }


.navbar {
    color: white;
    background-color: transparent;
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    }

.sign-in{
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
    border: 2px solid white;
    font-size: 1.2rem;
}

.logo {
    width: 8rem;
    height: 8rem;
    }

.sign-in:hover {
    color: white;
    background-color: #B20111;
}

/*================================================
LANDING PAGE CSS
=================================================*/
.landing-info { 
    height: 70vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    z-index: 20;
}

.landing-info h2 {
    font-size: 3rem;
    color: white;
    width: 80%;
    margin: 1rem auto;
    line-height: 1.4;
}

.landing-info input,
.landing-info button {
    margin: 0.4rem auto;
}

.landing-info input {
    width: 50%;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0;
    outline: none;
}

.landing-info button {
    width: 10rem;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    padding: 0.8rem;
    color: white;
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

.Typewriter__wrapper {
    /* color: #ca3f03; */
    color: #B20111;

}

@media (max-width: 991.98px) {
    .navbar {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .sign-in{
        font-size: 1rem;
    } 

    .landing-info input  {
        width: 50%;
    }
    .landing-info h2{
        font-size: 2.5rem;
        width: 65%;
    }
}

@media (max-width: 767.98px) {
    .landing-info {
        padding: 2rem;
    }
    .landing-info h2{
        width: 100%;
    }
    .landing-info input  {
        width: 80%;
    }
    .logo {
        width: 5rem;
        height: 5rem;
    }
    .sign-in {
        font-size: 0.8rem;
    }
}

@media (max-width: 575.98px) {
    .landing-info h2{
        font-size: 2.4rem;
    }

    .landing-info input{
        width: 80%;
    }

    .landing-info button  {
        width: 9rem;
    }
}
@media (max-width: 375.98px) {
    .landing-info h2{
        font-size: 1.9rem;
    }
}

/*================================================
SIGN IN CSS
=================================================*/

.sign-in-body {
    padding-bottom: 6rem;
}
.sign-in-container {
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(116, 59, 21, 0.507);
}

.sign-in-heading{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin:  0 1.5rem 1.5rem;
    display: flex;
    justify-content:center;
}

.password input,
.email input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    margin: 0 0 2rem;
    border-radius: 5px;
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
}

.sign-in-container button {
    width: 100%;
    background-color: #ca3f03;
    margin: 1rem auto 0.7rem;
    border-radius: 5px;
    border: 0;
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.sign-in-help {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-bottom: 0.8rem;
}

.sign-up {
    display: flex;
    color: white;
}

.sign-up p {
    color: #c59f8fbd;
}

.show-password {
    content: '';
    position: relative;
    left: 90%;
    bottom: 4rem;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url('/images/visibility_eye.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.hide-password {
    content: '';
    position: relative;
    left: 90%;
    bottom: 4rem;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url('/images/feather-eye-off.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    }

@media (max-width: 991.98px) {
    .sign-in-container {
        width: 45%;
    }
}

@media (max-width: 767.98px) {
    .sign-in-container {
        width: 55%;
    }
    
}

@media (max-width: 575.98px) {
    .sign-in-container {
        width: 70%;
    }
    .sign-in-help,
    .sign-up {
        font-size:0.85rem;
    }
    .sign-in-heading {
        font-size: 1.2rem;
    }
}